s*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:whitesmoke;
color:#333;
}

header{
background:burlywood;
padding:15px 0;
position:sticky;
top:0;
z-index:1000;
}

h2{
text-align:center;
margin-bottom:25px;
position:relative;
}

h2::after{
content:"";
width:70px;
height:3px;
background:black;
display:block;
margin:8px auto;
}

nav{
width:85%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
position:relative
}

nav ul li a{
color:white;
text-decoration:none;
font-size:16px;
}

.nav-link{
color:white;
text-decoration:none;
font-size:16px;
font-weight:500;
transition:0.3s;
}

.nav-link::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:0%;
height:2px;
background:#00adb5;
transition:0.4s;
}

.nav-link:hover::after{
width:100%;
}


.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(120deg,#2980b9,#6dd5fa);
color:white;
}

.profile{
width:150px;
border-radius:50%;
margin-bottom:20px;
}

.hero h1{
font-size:40px;
}

.hero h3{
font-weight:400;
margin:10px 0;
}

.btn{
display:inline-block;
margin-top:15px;
padding:10px 25px;
background:white;
color:#2980b9;
text-decoration:none;
border-radius:25px;
font-weight:bold;
}


section{
width:80%;
margin:40px auto;
padding:40px;

border:2px solid #e0e0e0;
border-radius:12px;

background:white;

box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

section:hover{
transform:translateY(-5px);
transition:0.3s;
}

h2{
text-align:center;
margin-bottom:30px;
}

.skills-container{
display:flex;
justify-content:space-around;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
width:250px;
margin:10px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
}

.project-container{
display:flex;
justify-content:space-around;
flex-wrap:wrap;
}

.project-card{
background:white;
padding:25px;
width:250px;
margin:10px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
}

#contact{
text-align:center;
}


